<h1><%= @album.name%></h1>
<span><%= link_to @album.band.name, band_url(@album.band)%>, <%= @album.date%></span>
<h5>Tracks</h5>
<ul>
	<% @tracks.each do |track| %>
	<li><%=track.ord%>. <%= link_to track.name, track_url(track.id)%></li>
	<% end %>
</ul>